<h1>Add Car</h1>

<form action="/car/save" method="post" class="form-horizontal" id="carForm">
  <div class="form-group">
    <label for="model">Model</label>
    <input class="form-control" type="text" name="name" id="name" value="" required>
    <p class="help-block"></p>
  </div>
  <div class="form-group">
    <label for="model">Max. Speed</label>
    <input class="form-control" type="number" name="max_speed" id="max_speed" value="" required data-validation-required-message="You must agree to the terms and conditions" >
    <p class="help-block"></p>
  </div>
  <div class="form-group">
    <label for="model">Brand</label>
    <select name="brand" required>
			{% for brand in brands %}
		  	<option value="{{ brand.id }}">{{ brand.name }}</option>
	    {% endfor %}
		</select>
    <p class="help-block"></p>
  </div>
  
  <button type="submit" class="btn btn-default" id="submit">Save</button>
</form>