<form name="createCar" action="http://localhost/mouf-tests/car/store" method="post">
    <div class="form-group">
        <label for="name">Model</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Model">
    </div>

    <div class="form=group">
        <label for="max_speed">Max. Speed</label>
        <div class="input-group">
            <input type="text" class="form-control" id="max_speed" name="max_speed" placeholder="Max. Speed">
            <span class="input-group-addon">kph</span>
        </div>
    </div>

    <div class="form-group">
        <label for="brand">Brand</label>

        <select name="brand_id" id="brand" class="form-control">
            {% for brand in brands %}
                <option value="{{ brand.id }}">{{ brand.name }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-default">Create</button>
</form>

<div>
    <a href="http://localhost/mouf-tests/car">Retour à la liste des voitures</a>
</div>