{% extends 'views/base.twig' %}

{% block content %}
    <div ng-controller="updateCarController">

        <a class="button icon-left ion-chevron-left button-clear button-dark" href="{{ constant('ROOT_URL') }}cars">Back</a>
        <div class="list card">
            <div class="item item-body">
                <h2>Update a car</h2>

                <form name="editCarForm" ng-submit="update(car, brandCar)" class="item item-input-inset" novalidate="">

                    <div>
                        <label class="item-input-wrapper" ng-class="{ 'has-error' : editCarForm.name.$invalid }">
                            <span>Model</span>
                            <input type="text" name="name" ng-model="car.name" required/>
                        </label>

                        <div class="control-label" ng-messages="editCarForm.name.$error" ng-if="editCarForm.$submitted">
                            <div class="error" ng-message="required" >The name is required</div>
                            <div class="error" ng-message="unique">Model name must be unique</div>
                        </div>
                    </div>

                    <div>
                        <label class="item-input-wrapper" ng-class="{ 'has-error' : editCarForm.maxSpeed.$invalid }">
                            <span>Max. Speed</span>
                            <input type="number" name="maxSpeed" ng-model="car.maxSpeed" required/>
                        </label>

                        <div class="control-label" ng-messages="editCarForm.name.$error" ng-if="editCarForm.$submitted">
                            <div class="error" ng-message="required" >The Max. Speed is required</div>
                            <div class="error" ng-message="invalid">Please enter a numeric value</div>
                        </div>
                    </div>

                    <span>Brand : </span><br/>
                    <select name="listBrands" ng-model="brandCar" ng-options="car.name for car in brands" class="full-size form-control">
                    </select>

                    <input type="submit" class="btn btn-default btn-primary" value="Update"/>

                </form>
            </div>
        </div>
    </div>

{% endblock %}